#app__header-container{
  width: var(--container-width);
}

.app__header-container{
  flex-direction: column;
  padding: 20px;
}

.app__header-moments-container{
  // flex-direction: column;
  gap: 10px;
  // width: 80%;
  // margin-top: 50px;
  .left{
    width: 35%;
  }
  .right{
    width: 65%;
  }
  .app__header-moments-pic{
    width: 100%;
  }
  .app__header-moments-headline, 
  .app__header-moments-info{
    text-align: center;
  }
  .app__header-moments-headline{
    font-size: 2rem;
    font-weight: bold;
  }
  .app__header-moments-info{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
  }
  @media screen and (max-width: 768px) {
    width: 60%;
  }
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

a{
  .app__header-button{
    margin-top: 50px;
    margin-bottom: 30px;
    color: black;
    padding: 10px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--yellow);
    border-color: var(--yellow);
    &:hover{
      background-color: var(--lightpink);
      border-color: black;
    }
  }
}