// .app__header-container{
//   padding-top: 50px;
//   padding-bottom: 50px;
//   background-color: white;
//   background-image: url('../../assets/cover.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   flex-direction: column;
//   .app__header{
//     flex-direction: column;
//     background-color: #fff;
//     .app__header-main-text{
//       text-align: center;
//       font-size: 1.5rem;
//       width: 25%;
//       color: var(--primary-color);
//       padding: 20px;
//       border-radius: 40px;
//       .app__header-hej{
//         color: var(--bright-color);
//         font-size: 2.2rem;
//       }
//       .app__header-name{
//         color: var(--primary-color);
//       }
//     }
//     .app__header-pictureDiv{
//       flex-direction: column;
//     }    
//   }
//   img{
//     height: 500px;
//     padding: 10px;
//   }
//   button{
//     margin-top: 25px;
//     background-color: white;
//     a{
//       text-decoration: none;
//     }
//     &:hover{
//       background-color: var(--primary-color);
//       a{
//         color: white;
//       }
//     }
//   }
// }

.app__header-container{
  flex-direction: column;
  background-color: white;
  padding: 20px;
  gap: 20px;
}

.app__header-moments-container{
  flex-direction: column;
  gap: 10px;
  width: 40%;
  line-height: 1.5rem;
  margin-top: 50px;
  .app__header-moments-headline, 
  .app__header-moments-info{
    text-align: center;
  }
  .app__header-moments-headline{
    font-size: 3.5rem;
    font-weight: bold;
  }
  .app__header-moments-info{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    width: 60%;
  }
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

.app__header-marta{
  margin-top: 200px;
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  padding-top: 150px;
  background-color: var(--lightblue);
  flex-direction: column;
  gap: 20px;
  position: relative;
  img{
    height: auto;
    max-width: 100%;
    border-radius: 40%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }
  h3, p{
    width: 60%;
    text-align: center;
  }
  h3{
    font-size: 2.5rem;
    font-weight: bolder;
  }
  p{
    font-size: 20px;
    line-height: 1.5rem;
  }
  @media screen and (max-width: 768px){
    p{
      font-size: 16px;
    }
    width: 70%;
  }

  @media screen and (max-width: 600px){
    width: 80%;
    p{
      font-size: 14px;
    }
  }
}

.app__header-button{
  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover{
      color: black;
    }
  }
  
}