#app__about-container{
  max-width: var(--container-width);
}
.app__about-container{
  flex-direction: column;
  max-width: var(--container-width);
  min-height: 90vh;
  gap: 10px;
  padding: 50px;

  .top{
    width: 100%;
    h1{
      font-size: 3rem;
      text-decoration: underline;
      text-decoration-color: var(--yellow);
      text-decoration-thickness: 1rem;
      font-weight: bold;
      text-align: left;
      @media screen and (max-width: 992px) {
        text-align: center;
      }
    }
  }

  .bottom{
    width: 100%;
    gap: 50px;
    .app__about-bio{
      width: 60%;
      font-size: 1.3rem;
      @media screen and (max-width: 1366px) {
        font-size: 1.2rem;
      }
      @media screen and (max-width: 992px) {
        text-align: center;
        font-size: 1.2rem;
        border: none;
        width: 100%;
      }
      @media screen and (max-width: 768px) {
        font-size: 1.1rem;
        border: none;
        width: 100%;
      }
    }
    .app__about-picture{
      align-self: flex-start;
      width: 40%;
      // border-radius: 10px;

      @media screen and (max-width: 992px) {
        align-self: center;
        width: 50%;
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 992px) {
      gap: 20px;
      flex-direction: column-reverse;
    }
  }

  @media screen and (max-width: 992px) {
    padding: 30px;
    gap: 20px;
  }
  @media screen and (max-width: 768px) {
    padding: 20px;
  }
}