.app__navbar-bg{
  width: var(--container-width);
  padding: 0px;
  margin: 0px;
  .app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    width: fit-content;
    padding-left: 10px;
    @media screen and (max-width: 600px){
      padding-left: 10px;
      font-size: 1.5rem;
    }
  }
  .app__navbar-col2{
    .app__navbar-socials{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
    
      Button{
        border-radius: 50%;
        &:hover{
          background-color: gainsboro;
        }
      }
    }
    @media screen and (max-width: 992px) {
      flex-direction: row-reverse;
      justify-content: flex-start;
      gap: 10px;
      padding: 10px;
    }
    @media screen and (max-width: 600px){
      gap: 5px;
    }
  }
  @media screen and (max-width: 1120px) {
    width: 100vw;
  }
}

div > a{
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 500px) {
    font-size: .9rem;
  }
}

.navbar-right{
  float: right;
}
