#app__blog-container{
  max-width: var(--container-width);
}

.app__blog-header{
  margin: 30px 0;
}

.app__blog-container{
  padding: 20px 0;
}

.app__blog-post{
  img{
    height: 300px;
    max-width: 90%;
  }
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.app__blog-posts{
  @media screen and (max-width: 768px) {
    gap: 50px;
  }
}
