:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: 16px/1.85 Merriweather,Georgia,serif;

  --yellow: #FFFF8F;
  --lightyellow: #FFFDD0;
  --lightpink: #F0E8E7;
  --lightblue: #C0E2E2;
  --pink: rgb(252, 214, 225);

  --container-width: 1120px;
  background-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}